<%- include('../partials/header') %>

<div class="text-center my-10">
  <h1 class="text-4xl font-bold">Tentang Toko Sepatu</h1>
  <p class="text-lg mt-4">
    Kami menyediakan berbagai jenis sepatu berkualitas untuk kebutuhan Anda.
  </p>
</div>

<%- include('../partials/footer') %>
