<%- include('../partials/header') %>

<div class="text-center my-10">
  <h1 class="text-4xl font-bold my-10">Selamat datang di Toko Sepatu Online</h1>
  <p class="text-lg">Tempat dimana Anda Menemukan Sepatu Impian.</p>
</div>

<%- include('../partials/footer') %>
